a {
  text-decoration : none;
  padding: 5px;
  font-family: arial, sans-serif;
  font-size : 13px;
  text-align: center;
  color:#666666;
}
a:hover {
  text-decoration: underline;
}
a:visited {
  color: #609;
}
#options {
  width: 23px;
  height: 22px;
  padding-left: 10px;
  padding-right: 9px;
}
#bell {
  width: 23px;
  height: 24px;
  padding-left: 10px;
  padding-right: 10px;
}
#links {
  position: fixed;
  top: 20px;
  right: 160px;
}
#images {
  position: fixed;
  top: 18px;
  right: 69px;
}
#profile {
  position: fixed;
  top: 13px;
  right: 30px;
}
#me {
  width: 30px;
  height: 30px;
  border-radius: 100%;
}
#google {
  position: fixed;
  top: 198px;
  left: 824px;
}
#searchbar {
  position: fixed;
  top: 320px;
  left: 675px;
}
input[type=text] {
  height: 35px;
  width: 580px;
  font-size: 14px;
}
#footer {
  background-color: #f1f1f1;
  position: fixed;
  bottom: 0px;
  right: 0px;
  height: 40px;
  width: 1920px;
  border-top-style: outset;
  border-top-color: #dddddd;
  border-top-width: 1px;
}
